In [2]:
print('Q1 . ANSWERS: ')
var1 = 'String'
print(type(var1))
var1 = ['1','2','3']
print(type(var1))
var1 = 2.0
print(type(var1))
var1 = ('1','2','3')
print(type(var1))

Q1
<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [3]:
print('Q2 . ANSWERS: ')
var1 = '' #data type str
print(type(var1)) 
var2 = '[DS, ML, Python]' #data type str
print(type(var2))
var3 = ['DS','ML','Python'] #data type list
print(type(var3))
var4 = 1. #data type float
print(type(var4))

Q2 . ANSWERS:
<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [8]:
print('Q3 . ANSWERS: ')
#i. / -> is using for got teh quotent example 10/5 = 2.0
print('Example for "/" 10/5 = ', 10/5)

#ii. % -> is using to get reminder, example 15%2 = 1
print('Example for "%" 15%2 = ', 15%2)

#iii. // -> is using to get floor division result , Example 15//2 = 7
print('Example for "//" 15//2 = ', 15//2)

#iv. ** -> is using for exponential, Example 2**3 = 8
print('Example for "**" 2**3 = ', 2**3)

Q3 . ANSWERS:
Example for "/" 10/5 =  2.0
Example for "%" 15%2 =  1
Example for "//" 15//2 =  7
Example for "**" 2**3 =  8

In [1]:
print('Q4. ANSWERS: ')
AllData = [1,1.8, 1j, 'string', True, b'byte', None, {1,2,3}, ('P', 'W', 'D', 'S'), {'P': 'Physics','W': 'Wallha'}]
print('Length of list : ',len(AllData))
i = 1
for li in AllData:
    print(i,'.',type(li))
    i+=1

Q4. ANSWERS:
Length of list :  10
1 . <class 'int'>
2 . <class 'float'>
3 . <class 'complex'>
4 . <class 'str'>
5 . <class 'bool'>
6 . <class 'bytes'>
7 . <class 'NoneType'>
8 . <class 'set'>
9 . <class 'tuple'>
10 . <class 'dict'>

In [15]:
print('Q5. ANSWERS: ')
a = 128
b= 2
n= a
i=0
while(n>=b and n%b==0):
    n = n/b
    i+=1
if(i>0):
    print(a, 'purely divisible by', b, '\nIt can be divisible by',i,'Times')
else:
    print(a, 'not purely divisible by ', b)

Q5. ANSWERS:
128 purely divisible by 2
It can be divisible by 7 Times

In [18]:
print('Q6. ANSWERS: ')
intList = [6,8, 9, 3, 6 ,5, 12, 45, 67, 87, 98, 99, 23, 56, 67, 34, 23, 42, 32, 21, 71, 69, 49, 51, 95]
for i in intList:
    if(i%3 ==0):
        print(i, 'is divisible by 3')

Q6. ANSWERS:
6 is divisible by 3
9 is divisible by 3
3 is divisible by 3
6 is divisible by 3
12 is divisible by 3
45 is divisible by 3
87 is divisible by 3
99 is divisible by 3
42 is divisible by 3
21 is divisible by 3
69 is divisible by 3
51 is divisible by 3

In [3]:
print('Q7. ANSWERS: ')
'''
mutable: those objects are allow to change their value that is known as mutable
immutable: it's the reverse of mutable, those objects are not allow to chnage their value that is known as immutable
'''

# Example of Mutable this is a list data type its mutable
VarList = [1, 9, 9, 7]
VarList[0] = 7
print(VarList)
# Example of Immutable tupple is immutable we trying to modify the value but it's throwing error
VarTupple = (1, 9, 9, 7)
# VarTupple[0] = 7
print(VarTupple)

Q7. ANSWERS:
[7, 9, 9, 7]
(1, 9, 9, 7)