In [1]:
print('Q1 . ANSWERS: ')
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_data = sorted(data, key=lambda x: x[1])

for item in sorted_data:
    print(item)

Q1 . ANSWERS:
('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

In [2]:
print('Q2 . ANSWERS: ')
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares = list(map(lambda x: x**2, numbers))
print(squares)

Q2 . ANSWERS:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
print('Q3 . ANSWERS: ')
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
string_tuple = tuple(map(lambda x: str(x), numbers))
print(string_tuple)

Q3 . ANSWERS:
('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [5]:
print('Q4 . ANSWERS: ')

from functools import reduce
numbers = list(range(1, 26))
product = reduce(lambda x, y: x * y, numbers)
print("Product of numbers from 1 to 25:", product)

Q4 . ANSWERS:
Product of numbers from 1 to 25: 15511210043330985984000000

In [6]:
print('Q5 . ANSWERS: ')

numbers_to_filter = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
filtered_numbers = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers_to_filter))
print("Numbers divisible by 2 and 3:", filtered_numbers)

Q5 . ANSWERS:
Numbers divisible by 2 and 3: [6, 60, 90, 120]

In [7]:
print('Q6 . ANSWERS: ')

strings = ['python', 'php', 'aba', 'radar', 'level']
palindromes = list(filter(lambda x: x == x[::-1], strings))
print("Palindromes in the list:", palindromes)

Q6 . ANSWERS:
Palindromes in the list: ['php', 'aba', 'radar', 'level']